@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{
  .text-big{
    @apply text-3xl;
  }
  .text-h1{
    @apply text-2xl;
  }
  .text-h2{
    @apply text-xl;
  }
  .text-h3{
    @apply text-lg;
  }
  .text-normal{
    @apply text-base;
  }
  .text-small{
    @apply text-sm;
  }
  .text-smallest{
    @apply text-xs;
  }

  @media screen and (min-width: 968px) {
    .text-big{
      @apply text-4xl;
    }
    .text-h1{
      @apply text-4xl;
    }
    .text-h2{
      @apply text-2xl;
    }
    .text-h3{
      @apply text-xl;
    }
    .text-normal{
      @apply text-lg;
    }
    .text-small{
      @apply text-base;
    }
    .text-smallest{
      @apply text-sm;
    }
  }
}

@layer utilities {
  .aboutglass.headerglass__active{
    @apply w-full h-full rounded-none;
  }
  .headercontent.headercontent__active{
    @apply translate-y-3/4 md:translate-y-2/4 lg:translate-x-[35vw] xl:translate-x-[30vw];
  }
  .aboutbox__container.aboutbox__container-active{
    @apply -translate-y-1/2;
  }
}


@layer components {

  /* ======================== REUSE COMPONENTS ================== */
  .layout {
    @apply max-w-[1240px] w-[90%] ml-auto mr-auto 3xl:max-w-[1536px] font-poppins;
  }

  .section{
    @apply w-full text-white
  }

  .section__title{
    @apply text-h2 py-2 px-12 border-b-2 border-r-2 border-primary font-medium rounded-2xl mb-16 w-fit mx-auto;
  }

  .text__diff {
    @apply text-primary
  }

  .glass {
    background: rgba(255, 183, 3, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.28);
  }

  .glass__primary {
    background: rgba(255, 183, 3, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.28);
  }


  /* ============================= NAV SECTION =================== */
  .nav__link {
    @apply text-small mb-4 font-semibold hover:text-primary flex flex-col cursor-pointer;
  }

  .nav__link-md {
    @apply text-small mx-4 hover:text-primary cursor-pointer;
  }

  .nav__icons {
    @apply text-h2 hover:text-primary font-normal cursor-pointer;
  }

  .toggle__transition {
    @apply transition-all ease-out duration-500;
  }

  .nav__scroll{
    @apply shadow-sm shadow-primary bg-dark transition-all duration-300;
  }

  /* ============================= HERO SECTION ===================== */
  .hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.089), rgba(0, 0, 0, 0.8)),
        url(./assets/wall3.jpg) top center no-repeat;
    background-size: cover;
  }

  .hero__button {
    @apply py-0.5 px-8 border-2 border-white mt-4 cursor-pointer text-small lg:px-12 transition-all duration-500 hover:bg-white hover:text-black;
  }

  .heroswiper__container{
    @apply w-full h-full relative;
  }

  .heroswiper{
    @apply h-80 max-w-xs rounded-xl md:h-96;
  }

  /* =========================== NEWS SECTION ============================= */

  .newsswiper{
    @apply w-full xl:w-[90%];
  }

  .news__card{
    @apply text-small font-light;
  }

  .newscard__button{
    @apply text-small bg-primary py-2 px-4 rounded-full w-fit flex items-center gap-x-2 transition-all duration-500 ease-out hover:gap-x-4 hover:bg-primary_hover cursor-pointer;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active{
    @apply bg-primary;
  }

  /* =========================== ABOUT PAGE =================================== */
  .aboutheader {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.089), rgba(0, 0, 0, 0.8)),
        url(./assets/wall3.jpg) top center no-repeat;
    background-size: cover;
  }

  /* ============================== Booking Pge ========================== */
  .bookheader {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.089), rgba(0, 0, 0, 0.8)),
        url(./assets/wall2.jpg) top center no-repeat;
    background-size: cover;
  }

  .bookingroom1 {
    background: url(./assets/wall3.jpg) center no-repeat;
    background-size: cover;
  }
}

/* ============================ Swiper Components============== */
